body {
	background: black url(../img/stars.gif);
}

#container {
  width: 1024px;
  height: 570px;
  position: relative;
  margin: auto;
}

#screen {
	width: 656px;
	height: 416px;
  position: absolute;
  top: 0;
  left: 190px;
}

#curtains {
  width: 1024px;
  height: 500px;
  position: absolute;
  top: 0;
  background: url(../img/curtains.png);
}

#void {
  position: absolute;
  top: 0;
  left: 50px;
  width: 900px;
  height: 500px;
  background-color:black;
  overflow: hidden;
}

#marquee {
  position: absolute;
  top: 421px;
  left: 190px;
  width: 656px;
  height: 144px;
  background: url(../img/marquee.png);
}
#marquee.on {
  background-position: 0 144px;
}

#retrostick-1 {
  position: absolute;
  top: 580px;
  left: 440px;
}

#receipt {
  width: 384px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 310px;
  font-size: 18px;
  line-height: 20px;
  font-family: monospace;
  font-weight: 300;
  padding: 0 20px 20px 20px;
  display:none;
}
#receipt img {
  margin: 20px 0;
}

#screen.snow {
  background: url(../img/snow.gif);
}

#screen.title {
	background: url(../img/logo.png);
}
#screen.gender {
  background: url(../img/gender.png);
}
#screen.cost {
  background: url(../img/cost.png);
}
#screen.colour {
  background: url(../img/colour.png);
}
#screen.fanciness {
  background: url(../img/fanciness.png);
}
#screen.weather {
  background: url(../img/weather.png);
}
#screen.wait {
  background: url(../img/gypsycat.png);
}