body {
	background-color: black;
}

#screen {
	width: 656px;
	height: 416px;
}

#marquee {
  margin-top: 5px;
  width: 656px;
  height: 144px;
  background: url(../img/marquee.png);
}
#marquee.on {
  background-position: 0 144px;
}


#receipt {
  width: 384px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  line-height: 20px;
  font-family: monospace;
  font-weight: 300;
  padding: 0 20px 20px 20px;
}
#receipt img {
  margin: 20px 0;
}

#screen.snow {
  background: url(../img/snow.gif);
}

#screen.title {
	background: url(../img/logo.png);
}
#screen.gender {
  background: url(../img/gender.png);
}
#screen.cost {
  background: url(../img/cost.png);
}
#screen.colour {
  background: url(../img/colour.png);
}
#screen.fanciness {
  background: url(../img/fanciness.png);
}
#screen.weather {
  background: url(../img/weather.png);
}
#screen.wait {
  background: url(../img/gypsycat.png);
}